<div class="container-fluid cover">
  <div class="row mt-5s">
    <!-- colonna sx-->
    <div class="col-12 col-md-7">

    </div>
     <!-- colonna login-->
    <div class=" col-12 col-md-4 pt-md-5">
      <div class=" d-flex mt-5 mt-md-5">
        <div class="ticket-in"></div>
        <div class="t"></div>
        <div class="ticket"></div>
        <div class="ticket"></div>
        <div class="ticket"></div>
        <div class="ticket"></div>
        <div class="ticket"></div>
        <div class="t"></div>
        <div class="ticket-final"></div>
      </div>
      <div class="form-container p-5 pt-0">
        <div class="p-3">
          <h1>Benvenuto/a <br> su Movies 👋🏻</h1>

          <form>
            <div class="form-group">
              <input type="text" name="e-mail" placeholder="mail" class="form-control">
              <input type="password" name="password" placeholder="password" class="form-control mt-3">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
   </div>

      </div>

  </div>

</div>
